*{margin: 0; padding: 0; list-style: none; box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none;color:black}
ul{list-style: none;}

/* 부제목 */
.title{width: 1220px;height: 20px;display: flex;justify-content: space-between;margin: 0 auto; margin-top: 20px;color: #cccccc;font-size: 15px;font-weight: 500;color: #707070;}

/* 커플 */
.intro{width: 1260px;height: 94px;margin: 0 auto;margin-top: 27px;}
.intro ul{text-align: center;display: table;margin: 0 auto;position: relative;left: 100px;}
.intro ul li{float: left;font-size: 20px; font-weight: 400;}
.intro ul li:nth-of-type(1){margin-right: 100px;}
.intro ul li:nth-of-type(1) p{margin-bottom: 20px;}
.intro ul li:nth-of-type(1) p:nth-of-type(1) span{font-weight: 700;font-size: 23px;}
.intro ul li button{width: 150px;height: 40px;border: 1px solid #707070;border-radius: 33px;font-size: 15px;background-color: #fff;position: relative;top: 22px;}
.intro ul li button:hover{background-color: #6167b2;color: #fff;border: 1px solid #6167b2;}


/* 메뉴 */
.subMenu{width: 1260px;height: 150px;margin:0 auto; margin-top: 69px;font-weight: 400;}
.subMenu .top{width: 100%;height: 75px; font-size: 15px;}
.subMenu .top > div{width: 50%;height: 75px;float: left;text-align: center;border-bottom: solid 1px #b6b6b6; border-top: solid 1px #b6b6b6;line-height: 75px;}
.subMenu .top > div:first-child{border-right: 1px solid #b6b6b6;}
.subMenu .top > div > a .icon{width: 25px;height: 22px; float: right; margin: 28px 43px 25px 0;}
.subMenu .bottom{width: 100%;height: 75px; font-size: 15px;}
.subMenu .bottom > div{width: 50%;height: 75px;float: left;text-align: center;border-bottom: solid 1px #b6b6b6;line-height: 75px;}
.subMenu .bottom > div:first-child{border-right: 1px solid #b6b6b6;}
.subMenu .bottom > div > a .icon{width: 25px;height: 22px; float: right; margin: 28px 43px 25px 0;}
.subMenu .icon{filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(71deg) brightness(95%) contrast(92%);}

/* 최근 본 장소 */
.lastPlace{width: 1260px;height: 130px;margin: 0 auto;margin-top: 45px;}
.lastPlace > p{text-align: center;font-weight: 700;font-size: 20px;}
.lastPlace > div{float: left;border: 1px solid #b6b6b6; margin-top: 30px;}

.lastPlace > .left{display: flex;width: 620px;padding: 20px;font-weight: 500;margin-right: 20px;}
.lastPlace > .left a{width: 160px;height: 160px;}
.lastPlace > .left a img{width: 160px;height: 160px;}
.lastPlace > .left > div{width: 80%;margin-left: 10px;}
.lastPlace > .left > div > div{display: flex;}
.lastPlace > .left > div > div:first-child > p:nth-of-type(1){font-size: 20px;margin-bottom: 3px;font-weight: 700;}
.lastPlace > .left > div > div:first-child > p:nth-of-type(2){font-size: 10px;color: #cccccc;margin-top:14px ;margin-left: 10px;color: #3e3e3e;}
.lastPlace > .left > div > div > p{font-size: 18px; margin-bottom: 10px;}
.lastPlace > .left > div > div > p:nth-of-type(2){margin-left: 10px;font-size: 15px;margin-bottom: 15px;color: #707070;}
.lastPlace > .left > div > div > p > span{font-size: 10px;color: red;margin-left: 2px;}

.lastPlace > .right{display: flex;padding: 20px;font-weight: 500;width: 620px;}
.lastPlace > .right a{width: 160px;height: 160px;}
.lastPlace > .right a img{width: 160px;height: 160px;}
.lastPlace > .right > div{width: 80%;margin-left: 10px;}
.lastPlace > .right > div > div{display: flex;}
.lastPlace > .right > div > div:first-child > p:nth-of-type(1){font-size: 20px;margin-bottom: 3px;font-weight: 700;}
.lastPlace > .right > div > div:first-child > p:nth-of-type(2){font-size: 10px;margin-top:14px ;margin-left: 10px;}
.lastPlace > .right > div > div > p{font-size: 18px; margin-bottom: 10px;}
.lastPlace > .right > div > div > p:nth-of-type(2){margin-left: 10px;font-size: 15px;margin-bottom: 15px;color: #707070;}
.lastPlace > .right > div > div > p > span{font-size: 10px;color: red;margin-left: 2px;}


/* 최근 본 추천 */
.lastRecommend{width: 1260px; height: 360px; margin: 0 auto; margin-top: 60px;position: relative;top: 50px;}
.lastRecommend > p{text-align: center;font-weight: bold; font-size: 20px;margin-bottom: 30px;}
.lastRecommend > ul > li {width: 620px; float: left;height: 360px;position: relative;}
.lastRecommend > ul > .left_re{margin-right: 20px;}
.lastRecommend > ul > li > a > img{width: 620px; height: 360px;}
.lastRecommend > ul > li > a > div{width: 620px; height: 360px; position: absolute;float: right;background: rgba(255,255,255,.1);top: 0;right: 0;}
.lastRecommend > ul > li > a > div > h3{font-size: 30px;color: #fff;float: right;margin-top: 30px;margin-right: 30px;}
.lastRecommend > ul > li > a > div > h6{font-size: 20px;color: #fff;float: right;margin-top: 70px;}


/* footer */
/* footer{width: 100%;height: 172px;background-color: #C7C7C7;position: relative;margin-top: 130px;}
footer h1{position: absolute;left: 594px;top: 56px;}
footer nav .fo_menu{position: absolute;top: 47px;left: 844px}
footer nav .fo_menu li{float: left;margin-right: 20px;font-size: 20px;color: #707070;}
footer p{color: #707070;font-size: 16px;position: absolute;left: 844px;bottom: 47px} */

.layer{display: none;width: 1260px;height: 830px;background-color: #fff;border: 2px solid #000;position: absolute;left: 50%;top: 50%;margin-left: -630px;margin-top: -410px;z-index: 1000;}
.layer h2{color: #000;padding: 20px;text-align: center;position: relative;top: 65px;height: 100px;font-size: 25px;}
.layer .close{position: absolute;top: 50px;right: 80px;}
.layer-bg{display: none;width: 100%;height: 1800px;background: rgba(0,0,0,.6);position: absolute;left: 0;top: 0;}
.layer p{text-align: center;margin-top: 100px;height: 30px;font-size: 20px;font-weight: 400;}
.layer p span{font-weight: 700;}
.layer #search-form{margin-top: 50px;text-align: center;}
.layer #search-form .id{width: 500px;height: 50px;padding: 10px 0 10px 20px;font-size: 20px;}
.layer #search-form button{width: 100px;height: 50px;background: #6167B2;border: none;color: #fff;font-size: 20px;margin-left: 40px;cursor: pointer;}
.layer #search-form button a{color: #fff;}
/* .layer .list{display: none;} */
.layer .list ul{overflow: hidden;}
.layer .list ul li{width: 650px;height: 110px;margin: 0 auto;border: 1px solid #707070;margin-top: 30px;cursor: pointer;}
.layer .list ul li:first-child{margin-top: 45px;}
.layer .list ul li p{width: 650px;margin: 10px;float: left;}
.layer .list ul li p span{margin-right: 15px;}


/* 대중화된 모바일 세로 */
@media (max-width: 575px){
    .title{width: 100%;font-size: 10px;margin-left: 10px;}
    .intro{width: 100%;}
    .intro ul{left: 20px;}
    .intro ul li{font-size: 15px;}
    .intro ul li:nth-of-type(1){margin-right: 40px;}
    .intro ul li:nth-of-type(1) p:nth-of-type(1) span{font-size: 18px;}
    .intro ul li button{width: 100px;height: 30px;font-size: 10px;top: 14px;}
    .subMenu{width: 100%;margin-top: 30px;}
    .lastPlace{width: 100%;}
    .lastRecommend{width: 100%; margin-top: 400px;}
    .lastRecommend p{font-size: 15px;}
    .lastRecommend > ul > li{width: 350px; height: 180px;position: relative;left: 65px;margin-bottom: 20px;}
    .lastRecommend > ul > li > a > img{width: 100%;height: 100%;}
    .lastRecommend > ul > li > a > div > h6{font-size: 15px;margin-top: 50px;}
    .lastRecommend > ul > li > a > div > h3{font-size: 20px;margin-top: 15px;}
}

/* 대중화된 모바일 가로 */
@media (max-width: 576px) and (max-width:767px){
    .title{width: 100%;font-size: 10px;margin-left: 10px;}
    .intro{width: 100%;}
    .intro ul{left: 20px;}
    .intro ul li{font-size: 15px;}
    .intro ul li:nth-of-type(1){margin-right: 40px;}
    .intro ul li:nth-of-type(1) p:nth-of-type(1) span{font-size: 18px;}
    .intro ul li button{width: 100px;height: 30px;font-size: 10px;top: 14px;}
    .subMenu{width: 100%;margin-top: 30px;}
    .lastPlace{width: 100%;}
    .lastRecommend{width: 100%; margin-top: 400px;}
    .lastRecommend p{font-size: 15px;}
    .lastRecommend > ul > li{width: 350px; height: 180px;position: relative;left: 65px;margin-bottom: 20px;}
    .lastRecommend > ul > li > a > img{width: 100%;height: 100%;}
    .lastRecommend > ul > li > a > div > h6{font-size: 15px;margin-top: 50px;}
    .lastRecommend > ul > li > a > div > h3{font-size: 20px;margin-top: 15px;}

}

/* 대중화된 태블릿 */
@media (min-width: 768px) and (max-width:991px){
    .title{width: 100%;font-size: 10px;margin-left: 10px;}
    .intro{width: 100%;}
    .intro ul{left: 20px;}
    .intro ul li{font-size: 15px;}
    .intro ul li:nth-of-type(1){margin-right: 40px;}
    .intro ul li:nth-of-type(1) p:nth-of-type(1) span{font-size: 18px;}
    .intro ul li button{width: 100px;height: 30px;font-size: 10px;top: 14px;}
    .subMenu{width: 100%;margin-top: 30px;}
    .lastPlace{width: 100%;}
    .lastRecommend{width: 100%; margin-top: 400px;}
    .lastRecommend p{font-size: 15px;}
    .lastRecommend > ul > li{width: 350px; height: 180px;position: relative;left: 65px;margin-bottom: 20px;}
    .lastRecommend > ul > li > a > img{width: 100%;height: 100%;}
    .lastRecommend > ul > li > a > div > h6{font-size: 15px;margin-top: 50px;}
    .lastRecommend > ul > li > a > div > h3{font-size: 20px;margin-top: 15px;}

}

/* 낮은 해상도의 DESKTOP */
@media (min-width: 992px) and (max-width:1199px){
    .title{width: 100%;font-size: 10px;margin-left: 10px;}
    .intro{width: 100%;}
    .intro ul{left: 20px;}
    .intro ul li{font-size: 15px;}
    .intro ul li:nth-of-type(1){margin-right: 40px;}
    .intro ul li:nth-of-type(1) p:nth-of-type(1) span{font-size: 18px;}
    .intro ul li button{width: 100px;height: 30px;font-size: 10px;top: 14px;}
    .subMenu{width: 100%;margin-top: 30px;}
    .lastPlace{width: 100%;}
    .lastRecommend{width: 100%; margin-top: 400px;}
    .lastRecommend p{font-size: 15px;}
    .lastRecommend > ul > li{width: 350px; height: 180px;position: relative;left: 65px;margin-bottom: 20px;}
    .lastRecommend > ul > li > a > img{width: 100%;height: 100%;}
    .lastRecommend > ul > li > a > div > h6{font-size: 15px;margin-top: 50px;}
    .lastRecommend > ul > li > a > div > h3{font-size: 20px;margin-top: 15px;}

}

@media (min-width: 1200px){

}