*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 1260px;
}
header{
    width: 100%;
    height: 180px;
    z-index: 10;
    position: relative;
}
header h1{
    width: 100%;
    height: 100px;
    text-align: center;
}
header .lo_jo{
    width: 130px;
    height: 30px;
    position: absolute;
    right: 360px;
    top: 40px;
}
header .lo_jo li{
    font-size: 16px;
    float: left;
    color: #707070;
    margin-right: 10px;
}
header .lo_jo li:nth-child(3){
    margin-right: 0;
}
header .lo_jo li a{
    width: 100%;
    height: 100%;
    display: block;
}
header nav{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #B6B6B6;
    border-top: 1px solid #B6B6B6;
    background: #fff;
}
header nav .gnb{
    text-align: center;
    padding-top: 28px;
    margin-left: 34%;
}
header nav .gnb>li{
    width: 100px;
    float: left;
    height: 50px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 30px;
}
header nav .gnb>li:hover>a{
    border-bottom: 4px solid #6167B2;
}
header nav .gnb>li>a{
    width: 100%;
    height: 100%;
    display: block;
}
.contents{
    width: 100%;

}
.slide{
    width: 100%;
    height: 650px;
    position: relative;
}
.slide ul,.slide ul>li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slide img{
    width: 1895px;
}
.Login{
    padding-top: 130px;
    width: 1260px;
    margin: 0 auto;
  }
  .title{
      text-align: center;
      font-size: 40px;
  }
  .main_lo{
      text-align: center;
  
  }
  .main_lo>div{
      padding-top: 50px;
  }
  .input-container label{
     font-size: 20px;
   
  }
  .input-container input{
      width: 550px;
      height: 45px;
      font-size: 17px;
      border: 1px solid #6167B2;
      padding: 5px;
  }
  .input-container .id input{
      margin-left: 50px;
  }
  .input-container .password{
      padding-top: 50px;
  }
  .input-container .password input{
      margin-left: 27px;
  }
  .loginMid{
      height: 30px;
      font-size: 18px;
       color: #707070;
       position: relative;
  }
  .loginMid .check{
      position: absolute;
      left: 296px;
      float: left;
  }
  .loginMid .autoLogin{
      margin-left: 20px;
  }
  .loginMid .ji_fi{
      float: right;
      position: absolute;
      right: 295px;
  }
  .loginMid .ji_fi .join{
      margin-right: 20px;
  }
  .button-container button{
      width: 679px;
      height: 50px;
      color: #fff;
      background: #6167B2;
      border: none;
      font-size: 20px;
  }
  .otherlogin{
      margin-top: 15px;
      position: relative;
      display: block;
      height: 122px;
  }
  .line{
      width: 182px;
      border: 2px solid #B6B6B6;
      float: left;
      position: absolute;
      left: 290px;
      margin-top: 14px;
  }
  .ri{
      width: 182px;
      position: absolute;
      border: 2px solid #B6B6B6;
      float: right;
      right: 293px;
      margin-top: 14px;
  }
  .otherlogin h3{
      position: absolute;
      color: #B6B6B6;
      left: 496px;
      font-size: 18px;
  }
  .otherlogin .login{
      position: relative;
      top: 72px;
      left: 269px;
  }
  .otherlogin .login button{
      float: left;
      border: none;
      font-size: 18px;
      line-height: 50px;
      color: #fff;
  }
  .otherlogin .login img{
      width: 30px;
      height: 30px;
      float: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
  }
  .kakao{
      background-color: #F9E000;
      width: 220px;
      height: 50px;
      margin-right: 20px;
  }
  .naver{
      width: 210px;
      height: 50px;
      background-color: #2DB400;
      margin-right: 20px;
  }
  .facebook{
      width: 260px;
      height: 50px;
      background-color: #3B5998;
  }

  footer{
    width: 100%;
    height: 172px;
    background-color: #C7C7C7;
    position: relative;
    margin-top: 130px;
}
footer h1{
    position: absolute;
    left: 594px;
    top: 56px;
}
footer nav .fo_menu{
    position: absolute;
    top: 47px;
    left: 844px;
    
}
footer nav .fo_menu li{
    float: left;
    margin-right: 20px;
    font-size: 20px;
    color: #707070;
}
footer p{
    color: #707070;
    font-size: 16px;
    position: absolute;
    left: 844px;
    bottom: 47px;
}
