*{margin: 0; padding: 0; list-style: none; box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none;color:black}
ul{list-style: none;}

.title{width: 1220px;height: 20px;display: flex;justify-content: space-between;margin: 0 auto; margin-top: 20px;color: #cccccc;font-size: 15px;font-weight: 500;color: #707070;}

.calender{width: 1260px;margin: 0 auto;}
.date{width: 700px; height: 700px;margin: 0 auto;border: 1px solid #707070;}
.cont{width: 800px; height: 400px;margin: 0 auto;margin-top: 40px;}
.cont div h3{font-size: 20px;font-weight: 700;color: #000000;}
.cont .sche{margin-top: 30px;}
.cont .sche ul:first-child li{width: 100%;height: 100px;}
.cont .sche li p{float: left;}


footer{width: 100%;height: 172px;background-color: #C7C7C7;position: relative;margin-top: 130px;}
footer h1{position: absolute;left: 594px;top: 56px;}
footer nav .fo_menu{position: absolute;top: 47px;left: 844px}
footer nav .fo_menu li{float: left;margin-right: 20px;font-size: 20px;color: #707070;}
footer p{color: #707070;font-size: 16px;position: absolute;left: 844px;bottom: 47px}