*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 100;
    display: none;
}
.modal .modal_inner{
    width: 700px;
    height: 700px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal .modal_inner .id{
    font-size: 20px;
    float: left;
    padding: 30px;
}
.modal .modal_inner .star{
    width: 135px;
    float: left;
    padding: 30px 0;
}
.modal .modal_inner .btn{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.modal .modal_inner .img{
    width: 400px;
    height: 400px;
    background: #707070;
    margin-top: 100px;
    margin-left: 150px;
}
.modal .modal_inner .review_nae{
    font-size: 16px;
    height: 180px;
    width: 600px;
    margin: 10px 50px 10px 50px;
}
.contents{
    width: 1260px;
    margin: 0 auto;
}
.contents>p{
    color: #707070;
    margin: 20px 0 16px 20px;
}
.contents>h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 57px;
}
.review_all .review{
    margin-bottom: 30px;
}
.review_all .review_1{
    width: 100%;
    height: 187px;
    border: 1px solid #707070;
    position: relative;
}
.review_all .review .id{
    font-size: 20px;
    float: left;
    margin-top: 19px;
    margin-left: 45px;
}
.review_all .review .star {
    width: 115px;
    float: left;
    margin-top: 24px;
    padding-left: 10px;
}
.review_all .review .star img{
    width: 20px;
    height: 20px;

}
.review_all .review_1 .img{
    width: 100px;
    height: 100px;
    background: #707070;
    top: 69px;
    position: absolute;
    left: 45px;
}
.review_all .review_1 .review_nae{
    font-size: 16px;
    position: absolute;
    left: 155px;
    height: 100px;
    width: calc(100% - 200px);
    top: 69px;
}
.review_all .review_2{
    width: 100%;
    height: 187px;
    border: 1px solid #707070;
    position: relative;

}
.review_all .review_2 .review_nae{
    width: calc(100% - 90px);
    font-size: 16px;
    height: 100px;
    position: absolute;
    left: 45px;
    top: 69px;
}


footer{
    width: 100%;
    height: 172px;
    background-color: #C7C7C7;
    position: relative;
    margin-top: 90px;
}
footer h1{
    position: absolute;
    left: 594px;
    top: 56px;
}
footer nav .fo_menu{
    position: absolute;
    top: 47px;
    left: 844px;
    
}
footer nav .fo_menu li{
    float: left;
    margin-right: 20px;
    font-size: 20px;
    color: #707070;
}
footer p{
    color: #707070;
    font-size: 16px;
    position: absolute;
    left: 844px;
    bottom: 47px;
}
